{% extends "rakumo/group.html" %}
{% load static %}

{% block title %}googleデータ取得{% endblock title %}
{% block content %}
    <h1 class="mdc-typography--display1">Hello, World!</h1>
    <button type="button" class="mdc-button mdc-button--raised mdc-button--primary">
      Press Me
    </button>
    <h2 class="mdc-typography--display2">Hello, Material Components!</h2>
    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
      <input type="text" class="mdc-text-field__input" id="demo-input">
      <label for="demo-input" class="mdc-text-field__label">Tell us how you feel!</label>
    </div>
    <!--<script src="node_modules/material-components-web/dist/material-components-web.js"></script>-->
    <!--<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>-->
    <script src="{% static 'node_modules/material-components-web/dist/material-components-web.js' %}"></script>
    <script>mdc.autoInit()</script>



    <font color="red">{{error_message}}</font>
    {{info_message}}
    <p>グループリスト取得</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type='hidden' name='postType' value='group'>
        <input type="submit" value="CSVダウンロード">
    </form>

    <p>グループ毎所属メンバーリスト取得</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type='hidden' name='postType' value='groupmem'>
        <input type="submit" value="CSVダウンロード">
    </form>

    <p>グループメンバー追加</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type='file' name='file' maxlength="50">
        <input type='hidden' name='postType' value='groupmemAdd'>
        <input type="submit" value="取り込み実行">
    </form>

    <p>グループメンバー削除</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type='file' name='file' maxlength="50">
        <input type='hidden' name='postType' value='groupmemDel'>
        <input type="submit" value="取り込み実行">
    </form>

    <p>グループメンバー更新テンプレート取得</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type='hidden' name='postType' value='groupmemTmp'>
        <input type="submit" value="ダウンロード">
    </form>

    <p>メンバーリスト取得</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type='hidden' name='postType' value='user'>
        <input type="submit" value="CSVダウンロード">
    </form>

    <p>施設リスト取得</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type='hidden' name='postType' value='resource'>
        <input type="submit" value="CSVダウンロード">
    </form>

    <p>施設情報更新</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type='file' name='file' maxlength="50">
        <input type='hidden' name='postType' value='resourceUpdate'>
        <input type="submit" value="取り込み実行">
    </form>

    <p>施設情報更新テンプレート取得</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type='hidden' name='postType' value='resourceTmp'>
        <input type="submit" value="ダウンロード">
    </form>


{% endblock content %}
