{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="content">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <!--<link rel="stylesheet" href="node_modules/material-components-web/dist/material-components-web.css">-->
        <!--<link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.css">-->
        <link rel="stylesheet" href="{% static 'node_modules/material-components-web/dist/material-components-web.css' %}">
        <title>G-Suiteデータ管理ツール</title>
    </head>
    <body class="mdc-typography">
        {% block content %}
            {{ content }}
        {% endblock %}
    </body>
</html>
