{% extends "rakumo/group.html" %}
{% load static %}

{% block title %}お読み下さい{% endblock title %}
{% block content %}
    <h1 class="mdc-typography--display1">お読み下さい</h1>
    <section>
        <h3 id="member">メンバー周り(グループとその所属)の情報取得、編集</h3>
        <div>
           <ul>
               <li>グループリスト取得<br>グループ(メーリス)の一覧を取得します。「CSVダウンロード」ボタン押下でCSVで出力します。
                   - kind：G-Suite用システム用の値です。(特に気にしなくて良いです。)<br>
                   - id：G-Suite用システム用の値です。(特に気にしなくて良いです。)<br>
                   - etag：G-Suite用システム用の値です。(特に気にしなくて良いです。)<br>
                   - email：グループのメールアドレスです。<br>
                   - name：表示用のグループ名です。<br>
                   - directMembersCount：グループに登録しているメンバーの数を表します。<br>
                   - description：グループを説明する詳細文です。<br>
                   - adminCreated：：G-Suite用システム用の値です。(特に気にしなくて良いです。)<br>
                   - nonEditableAliases：自動付与でのメールエイリアスです。<br>
                   - aliases：変更可能なメールエイリアスです。
               </li>
               <li>グループ毎所属 メンバーリスト取得<br>グループに所属するメンバー全体の情報を一覧で取得します。「CSVダウンロード」ボタン押下でCSVで出力します。<br>
                   - groupId：G-Suite用システム用の値です。(特に気にしなくて良いです。)<br>
                   - groupEmail：グループのメールアドレスです。<br>
                   - groupName：表示用のグループ名です。<br>
                   - groupMemberCnt：グループに登録しているメンバーの数を表します。<br>
                   - memberId：G-Suite用システム用の値です。(特に気にしなくて良いです。)<br>
                   - memberEmail：メンバーのメールアドレスです。<br>
                   - memberRole：メンバーのグループ所属内での権限を表します。<br>
                   - memberType：メンバーのタイプを表します(USER・・・ユーザー、GROUP・・・下層になっているグループ、CUSTOMER・・・外部アドレス)<br>
                   - memberStatus：メンバーのグループ内でのステータスを表します。(ACTIVE・・・利用中、SUSPENDED・・・利用停止)
               </li>
               <li>グループメンバー追加<br>グループ(メーリス)に所属するメンバーを追加します。テンプレートを利用して実行してください。</li>
               <li>グループメンバー削除<br>グループから対象メンバーを削除(離脱)します。テンプレートを利用して実行してください。</li>
               <li>グループメンバー更新 テンプレート取得<br>グループメンバーの情報を追加、削除するテンプレートを取得します。<br>
                   - groupKey：所属するグループのメールアドレス<br>
                   - memberKey：登録するメンバーのメールアドレス
               </li>
               <li>メンバーリスト取得<br>G-Suiteに登録しているメンバー(メールアドレス)の一覧を取得します。<br>
                   - primaryEmail：G-Suiteアカウントとなるメンバーのメールアドレス<br>
                   - fullName：表示用のメンバー名です。
               </li>
           </ul>
        </div>
    </section>
    <section>
        <h3 id="acl">権限周り(カレンダーの閲覧、編集(代理入力など)権限)の情報取得、編集</h3>
        <div>
           <ul>
               <li>権限リスト取得<br>カレンダーに登録しているメンバーへのアクセス権限をメンバー毎に情報を一覧で取得します。
                   - calendarId：対象メンバーのメールアドレス<br>
                   - kind：G-Suite用システム用の値です。(特に気にしなくて良いです。)<br>
                   - etag：G-Suite用システム用の値です。(特に気にしなくて良いです。)<br>
                   - id：権限用のIDです。削除時に使います。<br>
                   - scope_type：対象のメンバーに対するアカウント(ユーザ、グループ)のタイプです。(user・・・ユーザー、group・・・グループ)<br>
                   - scope_value：対象のメンバーに対する権限を持つアカウントのメールアドレスです。<br>
                   - role：対象のメンバーに対する権限を持つアカウントの権限タイプです。(reader・・・閲覧権限(すべての予定の詳細)、writer・・・予定の変更権限、owner・・・変更及び管理の共有権限、freeBusyReader・・・予定の時間枠のみ表示(詳細を非表示))
               </li>
               <li>権限追加、更新<br>カレンダーに登録しているメンバーへの権限を追加します。すでに登録している場合は権限のみ変更します。(登録するとお知らせメールが送信されます。)</li>
               <li>権限削除<br>カレンダーに登録しているメンバーへの権限を削除します。</li>
           </ul>
        </div>
    </section>
    <section>
        <h3 id="resource">施設周り(会議室、備品、車など)の情報取得、更新</h3>
        <div>
           <ul>
               <li>施設リスト取得<br>G-Suiteに登録している施設情報の一覧を取得します。</li>
               <li>施設情報更新<br></li>
               <li>施設情報更新 テンプレート取得<br></li>
           </ul>
        </div>
    </section>

{% endblock content %}
